body{
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: top;
}

.glow{
    color: black;
    text-shadow: 0 0 20px purple, 0 0 40px lightpink;
    font-size: 500%;
    font-weight: bolder;
}

.button{
    background-color: transparent;
    border: transparent;
    color: rgb(109, 0, 119);
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 200%;
    transition: opacity 0.15s ease;
}

.button:hover{
    color:rgb(255, 0, 21);
}
.button:active{
    opacity: 0.8;
}